[Unit]
Description=Socks5 proxy
Documentation=https://github.com/rofl0r/microsocks
Wants=network-online.target
After=network-online.target

[Service]
User=nobody
Type=simple
ExecStart={{ microsocks_bin }} -i {{ microsocks_listen_ip | default(ansible_default_ipv4.address) }} \
             -p {{ microsocks_port }} -b {{ microsocks_bind_ip | default(ansible_default_ipv4.address) }}
             {%- if microsocks_user is defined and microsocks_password is defined %} -u {{ microsocks_user }} -P {{ microsocks_password }} {% endif %}

Restart=on-failure
RestartSec=3
StartLimitInterval=30

RestrictAddressFamilies=AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
